body{
    background-image: url("../images/markus-spiske-vrbZVyX2k4I-unsplash.jpg");
}

.main-section{
    display:flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

.main-section-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    text-align: center;
}

.main-section-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    width: 50%;
}

.main-section-info{
    align-self: center;
}